blinker
certifi
charset-normalizer
click
flask
idna
itsdangerous
jinja2
markupsafe
numpy
pandas
python-dateutil
pytz
requests
scapy
scipy
six
tzdata
urllib3
werkzeug
seaborn
matplotlib
scikit-learn
tensorflow
joblib
