blinker
certifi
charset-normalizer
click
dask 
flask
idna
itsdangerous
jinja2
joblib
markupsafe
matplotlib
numpy
pandas
pyarrow
python-dateutil
pytz
requests
scapy
scikit-learn
scipy
seaborn
six
tensorflow
tzdata
urllib3
werkzeug